body {
  background-color: black;
  font-family: sans-serif;
  margin: 0;
  overflow:hidden;
}

#options {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px;
  background: #136;
  border-radius: 0 0 10px 0;
}

#options label {
  color: #fff;
  display: block;
}

#options input[type=checkbox] + label {
  display: inline-block;
}
